<div class="flex justify-center mx-auto mt-64">
  <div class="bg-[#256D85] p-10 rounded-xl w-2/5">
    <h1 class="text-5xl text-white ">
      Team generator
    </h1>
    <ul class="my-8 bg-[#DFF6FF] rounded-xl p-4 columns-2">
      <li class="p-2 flex items-center gap-2">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
          <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 6a3.75 3.75 0 11-7.5 0 3.75 3.75 0 017.5 0zM4.501 20.118a7.5 7.5 0 0114.998 0A17.933 17.933 0 0112 21.75c-2.676 0-5.216-.584-7.499-1.632z" />
        </svg>        
        Kj
      </li>
      <li class="p-2 flex items-center gap-2">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
          <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 6a3.75 3.75 0 11-7.5 0 3.75 3.75 0 017.5 0zM4.501 20.118a7.5 7.5 0 0114.998 0A17.933 17.933 0 0112 21.75c-2.676 0-5.216-.584-7.499-1.632z" />
        </svg>        
        Mili is my name
      </li>
    </ul>
    <div class="flex justify-between gap-4 font-bold text-white">
      <div>
        <input type='text' placeholder="Name" class="outline-none bg-[#47B5FF] placeholder:text-gray-900/25  p-4 mr-4 rounded-xl"/>
        <button class="transition-colors bg-[#47B5FF] py-4 px-8 rounded-xl hover:bg-[#47B5FF]/80">Add</button>
      </div>
      <div>
        <input type='text' placeholder="# of teams" class="outline-none bg-[#61d55f] placeholder:text-gray-900/25  p-4 mr-4 rounded-xl"/>
        <button class="transition-colors bg-[#61d55f] py-4 px-8 rounded-xl hover:bg-[#61d55f]/80">Generate</button>
      </div>
    </div>
  </div>
</div>